<div id="<%= dom_id member_role %>" class="table-row">
   <div class="table-cell pr-4">
    <%= member_role.member_id %>
  </div>

  <div class="table-cell pr-4">
    <%= member_role.member.first_name %>
  </div>

  <div class="table-cell pr-4">
    <%= member_role.member.last_name %>
  </div>

  <div class="table-cell pr-4">
    <%= member_role.role.name %>
  </div>
</div>

