<div style="padding: 5%; background-image: url(<%= asset_path 'tamu_stock3.jpg' %>); background-size: cover; height: 100vh;">
  <%= turbo_frame_tag "member_roles" do %>
    <div class="card">
      <div class="card-header">
        <h1>Members</h1>
      </div>
      <div class="card-body">
        <p id="notice" class="mb-4"><%= notice %></p>

        <%= form_with url: "", method: :get, data: { turbo_frame: "member_roles", turbo_action: "advance" } do |form| %>
          <div class="form-row align-items-center mb-3">
            <div class="col-auto">
              Show 
            </div>
            <div class="col-auto">
              <%= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()", class: "form-control" } %>
            </div>
          </div>

          <div class="form-row align-items-center mb-3">
            <div class="col-auto">
              Search 
            </div>
            <div class="col-auto">
              <%= form.search_field :query, value: params[:query], onchange: "this.form.requestSubmit()", class: "form-control" %>
            </div>
          </div>

          <div class="form-row align-items-center mb-3">
            <div class="col-auto">
              Filter by Role
            </div>
            <div class="col-auto">
              <%= form.select :role, options_for_select(['Admin', 'Officer', 'Member'], selected: params[:role]), {}, { onchange: "this.form.requestSubmit()", class: "form-control" } %>
            </div>
          </div>
        <% end %>

        <div class="table-responsive">
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr>
                <th scope="col" colspan="0"></th>
                <th scope="col">Member ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th scope="col" style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <% @member_roles.each do |member_role| %>
                <tr>
                  <td>
                    <% if member_role.member.avatar_url.present? %>
                      <%= image_tag(member_role.member.avatar_url, alt: member_role.member.first_name, class: 'profile-icon2') %>
                    <% else %>
                      <%= image_tag('default_avatar.jpeg', alt: member_role.member.first_name, class: 'profile-icon2') %>
                    <% end %>
                  </td>
                  <td><%= member_role.member_id %></td>
                  <td><%= member_role.member.first_name %></td>
                  <td><%= member_role.member.last_name %></td>
                  <td><%= member_role.role.name %></td>
                  <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_member_role_path(member_role), id: "edit_btn", class: "btn btn-primary", style: "background-color: #007bff; border-color: #007bff" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%== pagy_nav @pagy %>
      </div>
    </div>
  <% end %>
</div>