<p style="color: green"><%= notice %></p>

<%= render @member_role %>

<div>
  <%= link_to "Edit this member role", edit_member_role_path(@member_role) %> |
  <%= link_to "Back to member roles", member_roles_path %>

  <%= button_to "Destroy this member role", @member_role, method: :delete %>
</div>
