<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <a href="<%= @calendar_link.google_url %>">Add to Google Calendar</a>
    <br>
    <h2 class="card-title"><%= @event.name %></h2>
    <p>
        <strong>Date: </strong><%= @event.date.strftime('%m/%d') %>
        <br>
        <strong>Time: </strong><%= @event.start_time.strftime('%I:%M %p') %> - <%= @event.end_time.strftime('%I:%M %p') %>
        <br>
        <strong>Location: </strong><%= @event.location %>
        <br>
        <strong>Capacity: </strong><%= @event.capacity || 'No Limit' %>
        <br>
        <strong>Points: </strong><%= @event.points %>
        <br>
        <strong>Description: </strong><%= @event.description %>
    </p>
</body>
</html>