<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex align-items-center vh-100" style="background-image: url(<%= asset_path 'tamu_stock5.jpg' %>); background-size: cover;">
      <div class="card mx-auto" style="width: 40rem;">
          <div class="card-header">
            <%= if notification.new_record? %>
              <h1>New Notification</h1>
            <%= else %>
              <h1>Edit Notification</h1>
            <% end %>
            <%= link_to("Back to List", notifications_path, :class => 'back-link') %>
          </div>

          <div class="card-body">
            <div class="mb-3">
              <%= form.label :title, 'Title', class: 'form-label' %>
              <%= form.text_field :title, required: true, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :description, 'Description', class: 'form-label' %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
              <%= form.label :event, 'Event', class: 'form-label' %>
              <%= form.select :event_id, options_for_select(Event.all.map{|e|[e.name, e.id]}), include_blank: true, class: 'form-control' %>
              
            </div>

            <div class="form-check mb-3">
              <%= check_box_tag :send_email, class: 'form-check-input' %>
              <%= label_tag :send_email, 'Send email to all members', class: 'form-check-label' %>
            </div>

              <%= form.submit 'Create Event', class: 'btn btn-primary'%>
          </div>
      </div>
  </div>
<% end %>