<div id="<%= dom_id notification %>">
  <li>
      <strong><%= notification.title %></strong><br>
      Description: <%= notification.description %><br>
      Date: <%= notification.date %><br>
      <% if notification.event %>
        Event:<%= notification.event.name %><br>
      <% end %>
  </li> 
</div>
