<p style="color: green"><%= notice %></p>

<h1>Notifications</h1>

<div id="notifications">
  <% @notifications.each do |notification| %>
    <p>
      <strong>Event:</strong>
      <%= notification.event.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= notification.description %>
    </p>
    <p>
      <%= link_to "Show this notification", notification %>
    </p>
  <% end %>
</div>

<%= link_to "New notification", new_notification_path %>
