<%= form_with(model: [@event, @attendee]) do |form| %>
  <% if @attendee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
        <% @attendee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= "Event Name: " + @event.name %></p>

  <p>
    <label>
    Member Name: 
    </label>
    <%= current_member.first_name + " " + current_member.last_name %></p>

  <%= form.hidden_field :member_id, value: current_member.member_id %>
  <%= form.hidden_field :event_id, value: @event.event_id %>
  <%= form.hidden_field :rsvp, value: true %>
  <%= form.hidden_field :attended, value: false %>

  <div>
    <% attendeeCount = Attendee.where(event_id: @event.event_id).count %>
    <% if attendeeCount != nil && attendeeCount == @event.capacity %>
      Event is at max capacity. <br>
    <% else %>
      <% if Attendee.find_by(member_id: current_member.member_id, event_id: @event.event_id) %>
        You have already RSVP'd for this event. <br>
        <%= link_to("Delete RSVP", delete_event_attendee_path(@event, Attendee.find_by(member_id: current_member.member_id, event_id: @event.event_id)), class: 'action delete') %>
      <% else %>
        <%=form.submit "Confirm RSVP" %>
      <% end %>
    <% end %>

  </div>
<% end %>