<p style="color: green"><%= notice %></p>

<h1>RSVP for event: <%= @event.name%></h1>

<div id="attendees">
  <% @attendees.each do |attendee| %>
    <% member = Member.find(attendee.member_id) %>
    <p>
     <%= member.first_name + " " + member.last_name  %>
     <%= link_to("Delete RSVP", delete_event_attendee_path(@event, attendee), class: 'action delete') %>
    </p>
  <% end %>
</div>

<%= link_to "Back to Events", events_path %>
