<%= form_with(model: event, class: "centered-form") do |form| %>
  <% if event.errors.any? %>
    <div style="color: red; text-align: center">
      <h2><%= pluralize(event.errors.count, "Error") %> prohibited this event from being saved:</h2>

      <ul style="display: inline-block; text-align: left">
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-field">
    <%= form.label :"Name", class: "header required" %>
    <%= form.text_field(:name, required: true) %>
  </div>

  <div class="form-field">
    <%= form.label :"Location", class: "header required" %>
    <%= form.text_field(:Location, required: true) %>
  </div>

  <div class="form-row">
    <div>
      <%= form.label :"Start Time", class: "header required" %>
      <%= form.time_field(:start_time, required: true) %>
    </div>

    <div>
      <%= form.label :"End Time", class: "header required" %>
      <%= form.time_field(:end_time, required: true) %>
    </div>

    <div>
      <%= form.label :"Date", class: "header required" %>
      <%= form.date_field(:date, required: true, min: Date.today - 1) %>
    </div>
  </div>

  <div class="form-field">
    <%= form.label :"Description", class: "header" %>
    <%= form.text_area(:description, required: true) %>
  </div>

  <div class="form-row">
    <div>
      <%= form.label :"Capacity", class: "header" %>
      <%= form.number_field(:capacity, min: 1) %>
      <div>
        *Leave blank if no limit
        </div>
    </div>
    
    <div>
      <%= form.label :"Points", class: "header required" %>
      <%= form.number_field(:points, required: true, min: 0) %>
    </div>
  </div>

  <div class="form-row">
    <%= form.submit %>
  <div>
<% end %>