<% if @event.errors.any? %>
  <div style="color: red">
    <p>Error when submitting</p>
  </div>
<% end %>

<table summary="Event form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name, required: true) %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= f.text_field(:location, required: true) %></td>
  </tr>
  <tr>
    <th>Start Time</th>
    <td>
      <%= f.time_field(:start_time, required: true) %></td>
    </td>
  </tr>
  <tr>
    <th>End Time</th>
    <td>
      <%= f.time_field(:end_time, required: true) %></td>
    </td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= f.date_field(:date, required: true, min: Date.today - 1) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_area(:description) %></td>
  </tr>
  <tr>
    <th>Capacity</th>
    <td><%= f.number_field(:capacity, min: 1) %> *Leave blank if there is no limit</td>
  </tr>
  <tr>
    <th>Points</th>
    <td><%= f.number_field(:points, required: true, min: 0) %></td>
  </tr>
</table>
