<%= link_to("Back to List", events_path, class: 'back-link') %> <br>
<%= link_to("Back to Show", event_path(@event), class: 'action show') %>

<div class="events delete">
  <h2>Delete Event</h2>

  <%= form_for(@event, method: 'delete') do |f| %>
    <% # url: event_path(@event), method: 'delete' %>

    <p>Are you sure you want to permanently delete this event?</p>
    <p><%= @event.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Event") %>
    </div>

  <% end %>
</div>
