<%= link_to("Back to List", events_path, class: 'back-link') %>
<p style="color: green"><%= notice %></p>


<div class="show-event">

  <div class="event-header">
    <h2><%= @event.name %></h2>
  </div>

  <div class="event-info">
    <div class="">
      <strong>Location</strong>
      <%= @event.location %>
    </div>
  </div>
  
	<br>

  <%= link_to "RSVP", new_event_attendee_path(@event) %>

  <!-- NEED TO ADD ROLE VALIDATION -->
  | <%= link_to "Edit", edit_event_path(@event) %>
  | <%= link_to "Delete", @event, method: :delete %>

</div>
