<div style="padding: 5%; background-image: url(<%= asset_path 'tamu_stock4.jpg' %>); background-size: cover; height: 100vh;">
  <div class="card">
    <div class="card-header">
      <h1>Roles</h1>
    </div>
    <div class="card-body">
      <%= turbo_frame_tag "roles" do %>
        <p id="notice" class="mb-4"><%= notice %></p>

        <%= form_with url: "", method: :get, data: { turbo_frame: "roles", turbo_action: "advance" } do |form| %>
          <div class="form-row align-items-center mb-3">
            <div class="col-auto">
              Show 
            </div>
            <div class="col-auto">
              <%= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()", class: "form-control" } %>
            </div>
          </div>

          <div class="form-row align-items-center mb-3">
            <div class="col-auto">
              Search 
            </div>
            <div class="col-auto">
              <%= form.search_field :query, value: params[:query], onchange: "this.form.requestSubmit()", class: "form-control" %>
            </div>
          </div>
        <% end %>

        <div class="table-responsive">
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Role ID</th>
                <th scope="col">Name</th>
                <th scope="col">Permissions</th>
                <th scope="col" style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <% @roles.each do |role| %>
                <tr>
                  <td><%= role.role_id %></td>
                  <td><%= role.name %></td>
                  <td><%= role.permissions %></td>
                  <td><%= link_to "<i class='fas fa-eye'></i>".html_safe, role, class: "btn btn-secondary" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%== pagy_nav @pagy %>
      <% end %>
    </div>
  </div>
</div>