<div>
  <img class="img-fluid w-100" src="<%= image_path('tamu_stock2.jpg') %>" alt="Header Image">
  <div class="header">
      <h1 class="display-4" style="font-size: 3rem">Welcome to the Animal Science Graduate Student Association at Texas A&M University</h1>
      <h1 class="display-4" style="font-size: 3rem"><br><br>Our Mission</h1>
      <p class="lead">
        ASGSA aims to foster close relationships among Animal Science graduate 
        students and faculty among all disciplines of Animal Science at the 
        Texas A&M University; to encourage leadership; to promote greater interest 
        in the profession; and to promote participation in professional activities.
      </p>
  </div>
</div>

<div class="container mt-5">
  <div class="upcoming-events my-5">
    <h2 class="display-4">Upcoming Events</h2>
    <% @events.last(3).each do |event| %>
      <div class="event card mb-3">
        <div class="card-body">
          <h3 class="card-title"><%= event.date.strftime('%B %-d') %>: <%= event.name %></h3>
          <p class="card-text"><%= event.description %></p>
          <p class="card-text">Location: <%= event.location %></p>
          <p class="card-text">Time: <%= event.start_time.strftime('%I:%M %p') %> - <%= event.end_time.strftime('%I:%M %p') %></p>
          <p class="card-text">Capacity: <%= event.capacity %></p>
          <p class="card-text">Points: <%= event.points %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
