<div>
  <img class="img-fluid w-100" src="<%= image_path('tamu_stock.jpg') %>" alt="Header Image">
  <div class="header">
      <h1 class="display-4" style="font-size: 3rem">Welcome to the Texas A&M Animal Science Graduate Student Association</h1>
      <h1 class="display-4" style="font-size: 3rem"><br>Our Mission</h1>
      <p class="lead">
        ASGSA aims to foster close relationships among Animal Science graduate 
        students and faculty among all disciplines of Animal Science at the 
        Texas A&M University; to encourage leadership; to promote greater interest 
        in the profession; and to promote participation in professional activities.
      </p>
  </div>
  <div class="upcoming-events">
    <h2 class="display-4">Upcoming Events</h2>
    <div class="row">
      <% @events.last(3).each do |event| %>
        <div class="event card mb-3 col" style="margin-top: 3%; font-weight: 400;">
          <div class="card-body">
            <h3 class="card-title"><%= event.date.strftime('%m/%d') %> - <%= event.name %></h3>
            <p class="card-text"><%= event.description %></p>
            <p class="card-text">Location: <%= event.location %></p>
            <p class="card-text">Time: <%= event.start_time.strftime('%I:%M %p') %> - <%= event.end_time.strftime('%I:%M %p') %></p>
            <p class="card-text">Capacity: <%= event.capacity %></p>
            <p class="card-text">Points: <%= event.points %></p>
            <% if member_signed_in? %>
              <%= link_to "View Event", event_path(event), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-md-4">
        <h2 class="display-4" style="font-size: 3rem; font-style: italic;">Connect With Us</h1>
        <div class="social-icons">
          <%= link_to "https://www.instagram.com/asgsa.tamu", target: "_blank", style: "color: white; text-decoration: none" do %>
            <i class="fa-brands fa-instagram fa-xl"></i> - @asgsa.tamu
          <% end %>
          <br>
          <%= link_to "https://www.facebook.com/tamuasgsa", target: "_blank", style: "color: white; text-decoration: none" do %>
            <i class="fa-brands fa-facebook fa-xl"></i> - Texas A&M Animal Science Graduate Student Association
          <% end %>
          <br>
          <%= link_to "https://twitter.com/TAMU_ASGSA_", target: "_blank", style: "color: white; text-decoration: none" do %>
            <i class="fa-brands fa-x-twitter fa-xl"></i> - @TAMU_ASGSA_
          <% end %>
          <br>
          <i class="fa-solid fa-envelope fa-xl"></i> - asgsa@ag.tamu.edu
        </div>
      </div>
      <div class="col-md-4" style="margin-left: 1%; margin-right: -1%;">
        <h2 class="display-4" style="font-size: 3rem; font-style: italic;">Active Member Requirements</h2>
        <div class="requirements">
          <i class="fa-regular fa-square-check"></i> Pay membership dues (Fall Semester - by the October club meeting, Spring Semester - by the March club meeting)
          <br><br>
          <i class="fa-regular fa-square-check"></i> Attend no less than 50% of the regular club meetings of their membership period
          <br><br>
          <i class="fa-regular fa-square-check"></i> Participate in at least one philanthropic event and one social event within their membership period
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="display-4" style="font-size: 3rem; margin-left: 20%; font-style: italic;">Help</h2>
        <div class="help">
          <% if policy(current_member).admin_officer? %>
            <%= link_to faq_officer_path , style: "color: white; text-decoration: none" do %>
              <i class="fa-solid fa-question fa-xl"></i>  FAQs
            <% end %>
          <% else %>
            <%= link_to faq_member_path , style: "color: white; text-decoration: none" do %>
              <i class="fa-solid fa-question fa-xl"></i>  FAQs
            <% end %>
          <% end %>
          <br>
          <%= link_to help_path, style: "color: white; text-decoration: none" do %>
            <i class="fa-solid fa-address-book fa-xl"></i>  Contact Us
          <% end %>
      </div>
    </div>
  </div>
</div>
