<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table summary="Member form fields">
    <tr>
      <th>First Name</th>
      <td><%= form.text_field(:first_name, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= form.text_field(:last_name, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= form.text_field(:email, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= form.number_field(:points, min: 0, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= form.text_field(:position, disabled: !(current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Date Joined</th>
      <td><%= form.date_field(:date_joined, min: (Date.today - 8.years), max: Date.today) %></td>
    </tr>
    <tr>
      <th>Degree</th>
      <td><%= form.text_field(:degree) %></td>
    </tr>
    <tr>
      <th>Research Topic</th>
      <td><%= form.text_field(:res_topic) %></td>
    </tr>
    <tr>
      <th>Research Lab</th>
      <td><%= form.text_field(:res_lab) %></td>
    </tr>
    <tr>
      <th>Research Pioneer</th>
      <td><%= form.text_field(:res_pioneer) %></td>
    </tr>
    <tr>
      <th>Research Description</th>
      <td><%= form.text_field(:res_description) %></td>
    </tr>
    <tr>
      <th>Area of Study</th>
      <td><%= form.text_field(:area_of_study) %></td>
    </tr>
    <tr>
      <th>Food Allergies</th>
      <td><%= form.text_field(:food_allergies, required: true) %></td>
    </tr>
  </table>

  <br>

  <%= form.submit %>
<% end %>