<%= form_with(model: member, class: "centered-form") do |form| %>
  <% if member.errors.any? %>
    <div style="color: red; text-align: center">
      <h2><%= pluralize(member.errors.count, "Error") %> prohibited this member from being saved:</h2>

      <ul style="display: inline-block; text-align: left">
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-row">
    <div>
      <%= form.label :"First Name", class: "header required" %>
      <%= form.text_field(:first_name, required: true, disabled: !(current_member.officer? || current_member.admin?)) %>
    </div>
    
    <div>
      <%= form.label :"Last Name", class: "header required" %>
      <%= form.text_field(:last_name, required: true, disabled: !(current_member.officer? || current_member.admin?)) %>
    </div>
  </div>

  <div class="member-form-field">
    <%= form.label :"Email", class: "header required" %>
    <%= form.email_field(:email, required: true, disabled: !(current_member.officer? || current_member.admin?)) %>
  </div>

  <div class="form-row">
    <div>
      <%= form.label :"Points", class: "header required" %>
      <%= form.number_field(:points, required: true, min: 0, disabled: !(current_member.officer? || current_member.admin?)) %>
    </div>
  
    <div>
    <%= form.label :"Date Joined", class: "header" %>
    <%= form.date_field(:date_joined, min: (Date.today - 8.years), max: Date.today, size: 5) %>
    </div>
  </div>

  <div class="member-form-field">
    <%= form.label :"Position", class: "header required" %>
    <%= form.text_field(:position, required: true, disabled: !(current_member.admin?)) %>
  </div>
  
  <div class="member-form-field">
    <%= form.label :"Degree", class: "header" %>
    <%= form.text_field(:degree) %>
  </div>

  <div class="member-form-field">
    <%= form.label :"Research Topic", class: "header" %>
    <%= form.text_field(:res_topic) %>
  </div>

  <div class="member-form-field">
    <%= form.label :"Research Lab", class: "header" %>
    <%= form.text_field(:res_topic) %>
  </div>

  <div class="member-form-field">
    <%= form.label :"Research Pioneer", class: "header" %>
    <%= form.text_field(:res_pioneer) %>
  </div>

  <div class="member-form-field">
    <%= form.label :"Research Description", class: "header" %>
    <%= form.text_area(:res_description, class: "research-description") %>
  </div>

  <div class="member-form-field">
    <%= form.label :"Area of Study", class: "header" %>
    <%= form.text_field(:area_of_study) %>
  </div>

  <div class="member-form-field">
    <%= form.label :"Food Allergies", class: "header required" %>
    <%= form.text_area(:food_allergies, required: true) %>
  </div>
          
  <br>

  <div class="form-row">
    <%= form.submit %>
  <div>

  <!--
  <table summary="Member form fields">
    <tr>
      <th>First Name</th>
      <td><%= form.text_field(:first_name, required: true, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= form.text_field(:last_name, required: true, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= form.text_field(:email, required: true, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= form.number_field(:points, required: true, min: 0, disabled: !(current_member.officer? || current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= form.text_field(:position, required: true, disabled: !(current_member.admin?)) %></td>
    </tr>
    <tr>
      <th>Date Joined</th>
      <td><%= form.date_field(:date_joined, min: (Date.today - 8.years), max: Date.today) %></td>
    </tr>
    <tr>
      <th>Degree</th>
      <td><%= form.text_field(:degree) %></td>
    </tr>
    <tr>
      <th>Research Topic</th>
      <td><%= form.text_field(:res_topic) %></td>
    </tr>
    <tr>
      <th>Research Lab</th>
      <td><%= form.text_field(:res_lab) %></td>
    </tr>
    <tr>
      <th>Research Pioneer</th>
      <td><%= form.text_field(:res_pioneer) %></td>
    </tr>
    <tr>
      <th>Research Description</th>
      <td><%= form.text_field(:res_description) %></td>
    </tr>
    <tr>
      <th>Area of Study</th>
      <td><%= form.text_field(:area_of_study) %></td>
    </tr>
    <tr>
      <th>Food Allergies</th>
      <td><%= form.text_field(:food_allergies, required: true) %></td>
    </tr>
  </table>
  -->
<% end %>