<div id="<%= dom_id member %>" class="table-row">
   <div class="table-cell pr-4">
    <%= member.member_id %>
  </div>

  <div class="table-cell pr-4">
    <%= member.first_name %>
  </div>

  <div class="table-cell pr-4">
    <%= member.last_name %>
  </div>

  <div class="table-cell pr-4">
    <%= member.email %>
  </div>

  <div class="table-cell pr-4">
    <%= member.position %>
  </div>

  <div class="table-cell pr-4">
    <%= member.points %>
  </div>

  <div class="table-cell pr-4">
    <%= member.date_joined %>
  </div>

  <div class="table-cell pr-4">
    <%= member.res_topic %>
  </div>

</div>
