<div id="<%= dom_id member %>" class="table-row">

<h2>Show Member</h2>
<p style="color: green"><%= notice %></p>

<table summary="Member detail view">
  <tr>
    <th>Name:</th>
    <td><%= member.first_name %>  <%= member.last_name %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= member.email %></td>
  </tr>
  <tr>
    <th>Position:</th>
    <td><%= member.position %></td>
  </tr>
  <tr>
    <th>Points:</th>
    <td><%= member.points %></td>
  </tr>
  <tr>
    <th>Date Joined:</th>
    <td><%= member.date_joined %></td>
  </tr>
  <tr>
    <th>Research Topic:</th>
    <td><%= member.res_topic %></td>
  </tr>
</table>

</div>
