<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= member.points %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= member.position %>
  </p>

  <p>
    <strong>Date Joined:</strong>
    <%= member.date_joined %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= member.degree %>
  </p>

  <p>
    <strong>Food Allergies:</strong>
    <%= member.food_allergies %>
  </p>

</div>
