<div id="<%= dom_id member %>" class="table-row">
  <!-- <div class="table-cell pr-4">
    <%= member.member_id %>
  </div>  This is commented-->

  <div class="table-cell pr-4">
    <p><strong>Full Name:</strong> <%= member.first_name %>, <%= member.last_name %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Email:</strong> <%= member.email %> </p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Position:</strong> <%= member.position %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Points:</strong> <%= member.points %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Date Joined:</strong> <%= member.date_joined %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Degree:</strong> <%= member.degree %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Food Allergies:</strong> <%= member.food_allergies %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Research Topic:</strong> <%= member.res_topic %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Research Lab:</strong> <%= member.res_lab %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Research Pioneer:</strong> <%= member.res_pioneer %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Research Descriptions:</strong> <%= member.res_description %></p>
  </div>

  <div class="table-cell pr-4">
    <p><strong>Area of Study:</strong> <%= member.area_of_study %></p>
  </div>

</div>
