<%= link_to "Member List", members_path %>
<% if current_member.admin? %>
  | <%= link_to "Delete Member", delete_confirmation_member_path(@member), method: :get %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="show-member">

  <div class="profile">
    <div class="profile-header">
      <div class="profile-image", style="margin-right: 30px"> 
        <%= image_tag @member.avatar_url, class: "avatar" %>
      </div>

      <div class="profile-center">
        <h2><%= @member.first_name %>  <%= @member.last_name %></h2>
      </div>
        
      <div class="profile-center">
        <strong>Position</strong>
        <%= @member.position %>
      </div>

      <div class="profile-center">
        <strong>Member Since</strong>
        <%= @member.date_joined %>
      </div>

      <div class="profile-center">
        <strong>Email Address</strong>
        <%= @member.email %>
      </div>
      
      <% if @member.id == current_member.id || current_member.officer? || current_member.admin? %>
        <div class="profile-center">
          <strong>Current Points</strong>
          <%= @member.points %>
        </div>
        
        <%= link_to "Edit", edit_member_path(@member) %>
      <% end %>
    </div>

    <div class="additional-info">
      <div class="profile-center item1">
        <strong> Degree </strong>
        <%= @member.degree  %>
      </div>

      <div class="profile-center item2">
        <strong> Area of Study </strong>
        <%= @member.area_of_study %>
      </div>

      <div class="profile-center item3">
        <strong> Research Topic </strong>
        <%= @member.res_topic  %>
      </div>

      <div class="profile-center item4">
        <strong> Research Lab </strong>
        <%= @member.res_lab  %>
      </div>
      
      <div class="profile-center item6">
        <strong> Research Description </strong>
        <%= @member.res_description  %>
      </div>

      <div class="profile-center item7">
        <strong> Food Allergies </strong>
        <%= @member.food_allergies  %>
      </div>
    </div>
  </div>

  <% if @member.id == current_member.id || current_member.officer? || current_member.admin? %>
    <div class="event-history">
      <h1>Event History<h1>
      <div class = "events-list">
        
      </div>

      </div>
    </div>
  <% end %>

</div>
